<div class="colours">
    @foreach (var colour in Colours)
    {
        <button class="colour"
                @onclick="@OnClickWrapper(colour)"
                @key="@colour">
        </button>
    }
</div>

@code {
    [Parameter]
    public Func<string, Action<UIMouseEventArgs>> OnClick { get; set; }

    [Parameter]
    public IEnumerable<string> Colours { get; set; }

    public string CurrentColour { get; set; }

    private Action<UIMouseEventArgs> OnClickWrapper(string colour)
    {
        CurrentColour = colour;
        return OnClick(colour);
    }

    protected override void OnParametersSet()
    {
        CurrentColour = Colours.First();
    }
}
